/* CeraPro */
@font-face
{
  font-family: CeraPro;
  src: url('../fonts/CeraPro-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  
}

/* Roboto-Med */
@font-face
{
    font-family: Roboto;
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;


}

/* Roboto- Medium Italics */
@font-face 
{
    font-family: Roboto;
    src: url('../fonts/Roboto-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
  
}

/* Roboto-Regular */
@font-face
{
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
}

/* Roboto-Light */
@font-face
{
    font-family: Roboto;
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
}

/* Page */
body
{
    display: flex;
    flex-direction: column;
}

/* Head */
.head
{
    width: 100%;
    height: 8vh;
    background-color: #fda57a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
}

.taskify
{
    font-family:CeraPro ;
    color: #ffffff;
    font-size: 2rem;
    float: left;
    background-color: #fda57a;
}

.search
{
    border-radius: 1rem;
    background-color: #ffffff;
    padding: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#search-icon
{
    size: 1.2rem;
    color: lightgrey;
    padding: 0.2rem;
}

.search-bar
{
    color: lightgrey;
    font-family: Roboto;
    font-size: 1.2rem;
    border: none;
}

.acc-img
{
    height: 5vh;
    width: 2.3vw;
    border-radius: 50%;
    float: right;
}

/* Main Area */
.main
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

/* Left Side */
.leftdiv
{
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    border-right: 0.1rem solid lightgray;
}

/* .add-task
{

} */

.new-task-button
{
    background-color: coral;
    border-radius: 10vh;
    color: white;
    border: none;
    width: 10vw;
}

#add-icon
{
    vertical-align: middle;
    height: 3vh;
}

.timeline
{
    width: auto;
    text-align: left;
    font-family: Roboto;
    font-weight: 400;
    margin: 0.7rem 0rem;
    padding: 0.4rem 0rem;
}

.tm-today , .tm-tom , .tm-week , .tm-month
{
    padding: 0.4rem 0rem;
}

.tm-today a, .tm-tom a, .tm-week a, .tm-month a
{
    text-decoration: none;
    color: black;
}

.tags
{
    font-family: Roboto;
    font-style: italic;
    font-weight: 500;
    text-align: left;
    display: inline-flex;
    flex-direction: column;
}


.tg-gen, .tg-per,.tg-des, .tg-col, .tg-acd
{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.1rem 0rem 0.1rem 0rem;

}

.tg-gen,  .gentag  ,.gen
{
    text-decoration: none;
    color: #2f7893;
    padding-left: 0.5rem ;
}

/* gen-count is dynamic-JS */

.tg-per, .per, .pertag
{
    text-decoration: none;
    color: #c95a1d;
    padding-left: 0.5rem ;
}

.tg-des, .des, .destag
{
    text-decoration: none;
    color: #0f7e1c;
    padding-left: 0.5rem ;
}

.tg-col, .col, .coltag 
{
    text-decoration: none;
    color: #af8515;
    padding-left: 0.5rem ;
}

.tg-acd,.acd, .acdtag
{
    text-decoration: none;
    color: #5555be;
    padding-left: 0.5rem ;
}

#bullet,#tag-icon
{
    vertical-align: middle;
    /* width: 1vw;
    height: 1vh; */
    margin-right: 0.5rem;
}

.add-tag-btn
{
    margin-top: 2vh;
    display: inline-flex;
    font-family:Roboto ;
    font-style: italic;
    align-items: center;
}

.add-tag-popup
{
    display: none;
    height: 17vh;
    width: 11vw;
    border: 1px solid black;
    border-radius: 2vw;
    position: absolute;
    /* z-index: 999999; */
    margin: 1vw;
    padding: 1vw;
    background-color: white;
}

.tag-head, .add-tag-form > hr
{
    font-family: Roboto;
    font-style: italic;
    color: #555555;
    
}

.tag-head
{
    border: none;
    padding: 1vw;
    width: 10vw;
}

.colour-sec
{
    margin: 1vw 0vw 0vw;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}

.colour-head
{
    font-family: Roboto;
    font-weight: 400;
    margin-right: 1vw;
}

.colours
{
    display: flex;
    flex-wrap: wrap;
}

/* Middle  */
.tasklist
{
    /* margin: 1vh; */
    display: flex;
    flex-direction: column;
    /* padding-bottom: 2vh; */
    width: 80%;
    margin: 1vw;
    padding: 1vw;
}

.middle
{
    padding: 0.2vw;
    margin: 1.5vw;
    width: 70%;
}

.day
{
    font-family: Roboto;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

.date
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 1.4rem;
    margin-top: 0.2rem;
}

.tasks
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#task
{
    color: black;
    width: 4vw;
    height: 4vh;
}

.task-details
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start;
    width: 100%;
}

/* .tdline-1, .tdline-2
{
    display: flex;
    justify-content: flex-start;
    align-items: left;
} */

.tdline-1, .tdline-2
{
    margin: 0.5vw;
}

.task-name
{
    font-family: Roboto;
    font-weight: 500;
    margin-right: 0.8vw;
}

.task-desc
{
    font-family: Roboto;
    font-weight: 300;
}

.due
{
    font-family: Roboto;
    font-weight: 500;
    margin-right: 2vw;
    padding-right: 2vw;

}

.time
{
    font-family: Roboto;
    font-weight: 300;
    margin-right: 2vw;
    padding-right: 2vw;

}

/* .time */

.edit
{
    border: none;
    background: none;
    text-decoration: none;
    color: black;
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
}

.tdline-1, .tdline-2
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.edit-task-popup, .new-task-popup
{
    display: none;
    border: 1px solid lightgray;
    border-radius: 10px;
    height: 60vh;
    width: 60vw;
    margin: 1vw;
    padding: 2vw; 
    position: absolute;

    background: white;
}

.new-task-popup
{
    left: 10%;
    top:15%;
}

.edit-task-popup
{
    left: 25%;
    top: 25%;
}

.add-tag-popup
{
    display: none;
    left: 15%;
    top: 60%;
    height: 30vh;
    width: 30vw;
}

.edit-task-form, .new-task-form, .add-tag-form
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Roboto;
}

.edit-task-popup  input, .new-task-popup input, .add-tag-popup input
{
    border: none;
    border-bottom:1px solid #d8d8d8 ;
}

.edit-task-popup  p, .new-task-popup p
{
    font-weight: 500;
    margin-right: 3vw;
}

.edline-1, .edline-4, .edline-5, .edline-6, .newline1, .newline4, .newline5, .newline6
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.edit-title, .new-title
{
    font-size: 1.5rem;
    padding-right: 25vw;
}

.rad-today, .rad-tom, .edline-6 div, .newline6 div
{
    margin: 1vw;
}

.edline-5 input, .newline5 input
{
    width: 3.5vw;
    margin:0vw 0.5vw ;
}

.remove-task
{
    border: none;
    background-color: white;
    font-style: italic;
    color: #a29797;
    font-size: 1rem;
    font-weight: 500;
    float: right;
}

#am,#pm
{
    visibility: hidden;
}

.newline5 label
{
    cursor: pointer;
    font-family: Roboto;
    font-weight: 300;
    font-size: 0.7rem;
    color: #9f9f9f;
}


.newline5 label
{
    font-family: Roboto;
    font-weight: 300;
    font-size: 1rem;
}

.hide
{
    display: none;
}

.gtag,.ptag, .ctag, .dtag, .atag, .colours1, .colours2
{
    display: flex;
}

.hide + .custom
{
    height: 0.7rem;
    width: 0.7rem;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

#ntg + .custom, #etg + .custom
{
    border:1px solid  #2f7893 ;
    /* margin-right: 1vw; */
}

#ntp + .custom, #etp + .custom
{
    border:1px solid  #c95a1d ;
}

#ntd + .custom, #etd + .custom
{
    border:1px solid  #0f7e1c ;
}

#ntc + .custom, #etc + .custom
{
    border:1px solid  #af8515 ;
}

#nta + .custom, #eta + .custom
{
    border:1px solid  #5555be ;
}

#c1+ .custom
{
    border: 1px solid #f59566;
    margin-right: 0.8vw;
    margin-bottom: 0.7vw;
}

#c2+ .custom
{
    border: 1px solid #95e1fd;   
    margin-right: 0.8vw;
    margin-bottom: 0.7vw;
}

#c3+ .custom
{
    border: 1px solid #b2d346;
    margin-right: 0.8vw;
    margin-bottom: 0.7vw;
}

#c4+ .custom
{
    border: 1px solid #cec397;
    margin-right: 0.8vw;
    margin-bottom: 0.7vw;
}

#c5+ .custom
{
    border: 1px solid #99ea6f;
    margin-right: 0.8vw;

}

#c6+ .custom
{
    border: 1px solid #000000;
    margin-right: 0.8vw;

}

#c7+ .custom
{
    border: 1px solid #720707;
    margin-right: 0.8vw;

}

#c8+ .custom
{
    border: 1px solid #aaaaaa;
    margin-right: 0.8vw;

}

#ntg:checked + .custom, #etg:checked + .custom
{
    background-color: #2f7893 ;
}

#ntp:checked + .custom, #etp:checked + .custom
{
    background-color: #c95a1d ;
}

#ntd:checked + .custom, #etd:checked + .custom
{
    background-color: #0f7e1c ;
}

#ntc:checked + .custom, #etc:checked + .custom
{
    background-color: #af8515 ;
}

#nta:checked + .custom, #eta:checked + .custom
{
    background-color: #5555be ;
}

#c1:checked + .custom:after
{
    background-color: #f59566;
}

#c2:checked + .custom
{
    background-color: #95e1fd;
}

#c3:checked + .custom
{
    background-color:#b2d346;
}

#c4:checked + .custom
{
    background-color: #cec397;
}

#c5:checked + .custom
{
    background-color: #99ea6f;
}

#c6:checked + .custom
{
    background-color: #000000;
}

#c7:checked + .custom
{
    background-color: #720707;
}

#c8:checked + .custom
{
    background-color: #aaaaaa;
}

.edline-3, .newline3
{
    color: #a29797;
    font-style: italic;
}

.edline-7, .newline3
{
    margin-left: 5vw;
}

.edline-7 input, .newline7 input
{
    margin-bottom: 1vw;
    font-style: italic;
    width: 9vw;
}

/* Right side */
.rightdiv
{
    height: 100vh;
    width: 15%;
    /* float: left; */
    padding: 2vw;
    border-left: 0.1rem solid lightgray;

}

.notes
{
    font-family: Roboto;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 1.5vw;
    font-size: 1.7rem;
}

.notepad
{
    font-family: Roboto;
    font-weight: 300;
}